.container{
    display: flex;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 40vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(197, 200, 204);
    border-radius: 10px;
}
h1{
    text-align: center;
    margin-top: 6%;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    letter-spacing: 2px;
    text-shadow: 2px 2px 2px black;

}
span{
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 54px;
    margin-left: 5px;
    margin-right: 5px;
}
input{
    width: 80px;
    height: 90px;
    overflow-wrap: break-word;
    font-size: 48px;
    padding-left: 20px;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 14px;
    box-shadow: 2px 2px 10px black;
}
#total{
    width: 200px;
}